.position{
    width: 100px;
    height: 50px;
    background-color: rgb(235, 15, 15);
    border-bottom: 2px solid rgb(180, 18, 39);
}

.static{
    position: static;
}

.relative{
    position: relative;
    background-color: rgb(205, 100, 15);
    top: 10px;
    left: 20px;
}

.absolute{
    position: absolute;
    background-color: brown;
    top: 0;
    right: 0;
}

.mini-div{
    width: 20px;
    height: 20px;
    border: 2px dotted rgb(222, 20, 20);
    top: o;
    left: 0;
}